gradio
tqdm
openai
datasets
unstructured
pymilvus
langchain
langchain-community
torch
accelerate
bitsandbytes
transformers
sentence_transformers
faiss-cpu
huggingface_hu
streamlit-chat
pandas
plotly
streamlit
yfinance
pandas-datareader
prophet
streamlit
joblib
numpy
llmware

